.jumbotron{
    background-image: url(../img/pizza-background123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#hutLogo{
    width: 80px;
}
.deliveryOptions, .pickUpParagraph{
    display: none;
}
#menuImgPizza{
    height: 200px;
    width: 300px;
    padding: 10px;
}
.order{
    white-space: pre-wrap;
}